# EMAIL SERVICE SETUP (https://5sim.net/)
MIN5="eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NzQ0MTU1MTIsImlhdCI6MTc0Mjg3OTUxMiwicmF5IjoiYTdhYTU4MGEwNjFjNzJmNGY0NDVlNjdhZGY1ODllZTQiLCJzdWIiOjMxMTIyNjJ9.KiZ0ttpgTmZay1VPxnoNaSaUgcJTk4xRRbi_ObzOcqmw13_M04QTs3Eug12gAdQHVdizTgVNf9pQXRugq5OWci-3FWDQG0mRkdJ0qKpnREjvN6-5RUEto1hRO7We_DQjvlRFAOcZ_0jhXVxs96pyzsrYcpI3ULLtc6inmckF4nhQhca7pQ_xacLAXruIa4sj3sqNIcqN1cVolQy07oaJ9Dg7LTjnbDr6PzX3CaBha6h54ZMUy70zaPTPL4Pxv5MqKxBe05_ql16mmS-BbrNRXnAY72IfgNLTa-DQWh5b92_I8YnasM3QiE6UPgp5R_Z4x0L6-AVGuX0rdb5dYqRQ3A"

# DISCORD SERVICE SETUP (https://discord.com/developers)
BOT_TOKEN="1353965401905565747" 
WEBHOOK_TOKEN="56LTk1MEXJj6kICPLm0ONi3SFYTrXgc-Pvlr7NlQ-NaLlyB8it9bOTXRt7qUHQoCKu2A"
WEBHOOK_ID="1353966732137594920"

# AI SETUP (https://aistudio.google.com/app/apikey)
GEMINI_KEY="AIzaSyD7KfQTFEjPDmXO5VK2TESnvppPkzIE3RE"

# SCRAPPER SETUP
TARGET_URL="https://accounts.google.com/SignUp?service=mail"
MONTHS="January February March April May June July August September October November December"
COUNTRY="pk" # us (United States) pk (Pakistan)
